{% extends "housing/base.html" %}
{% block content %}
    <h1>Welcome to US Housing AI!</h1>
    <p>Our website is dedicated to reduce the amount of time and efforts you make on purchasing or selling real estate or rental properties.
        Using our AI, you don't need to have housing agencies anymore, all the equivalent service and information will be provided to you without any fees.
        There two types of services that we provide:</p>
    <p> 1. If you want to lease or sell your properties, we provide the plantom for you to post and advertise your listing for free.
        At the same time, using our AI, an accurate market value of your real etate will be accessed. We are also responsible to search the best
        candidacies tailored to your needs.</p>
     <p> 2. If you want to rent or buy an apartment/house etc., before making the final decision, please take a look at our US Housing statistics in the region that you
         are conducting the search. We offer you the detailed statistics of the current market prices, and as well as the future housing trends for you to make the best
         real estate investments. Our AI will also help you to find the best deals within the region and price regions that you require. She is just like your housing agency,
         but even faster and more accurate!</p>

{% endblock %}